<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="StudentConn" connectionString="Data Source=laptop-3avnc6qp;Initial Catalog=EmployeeDB;User ID=sa;Password=System123;Pooling=False"/>
	</connectionStrings>
	
</configuration>